<!DOCTYPE html>
<html>
<head>
  <link href='/static/style.css' rel='stylesheet' type='text/css' />
</head>
  <body>
    <div class='sidebar'>
      <ul class='side-ul'>
        <li><a class='side-link' href='/blog'>index</a></li><br>
        <li><a class='side-link' href='/newpost'>new post</a></li><br>
        <li><a class='side-link' href='/blog'>login</a></li><br>
        <li><a class='side-link' href='/blog'>register</a></li><br>
      </ul>
    </div>
    <h1>Build-A-Blog</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
