{% extends "base.html "%}

{% block content %}
<!--TODO: create css styling for this form-->
<!--form with inputs for title, keywords, body; hidden input for user_id-->
  <form action='/viewpost' method='post'>
    <div class='form-group'>
      <label for='title'>Title:</label>
      <input class='form-control'type='text' id='title' name='title' value='{{ title }}' placeholder='Title' />
      <br>
      <label for='body'>Body:</label>
      <textarea class='form-control' id='body' name='body' value='{{ body }}' placeholder='Type your post here . . .' rows='10'></textarea>
      <br>
      <label for='keywords'>Keywords:</label>
      <input class='form-control'type='text' id='keywords' name='keywords' value='{{ keywords }}'
      placeholder='Enter keywords, separated by a comma (optional)' />
      <br>
      <button type='submit' class='btn btn-primary bm-2' name='submit' value='Submit'>Submit</button>
    </div>
  </form>
{% endblock %}
